<a href="https://colab.research.google.com/github/amrutheswari/Assignment-13/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#What is dictionary in Python? Explain with an example
dictionaries are another example of a data structure. ...
 A dictionary in Python is just like a dictionary in the real world. 
 Python Dictionary are defined into two elements Keys and Values. 
 Keys will be a single element. 
 Values can be a list or list within a list, numbers, etc
 Dict()=dict()
 Dict={1:"Amrutheswari",2:"python",3:"gitam"}
 here 1,2,3 are keys with there respective values.

In [4]:
#Write a Python program to sum all the items in a list.
List=[11,2,35,40,5]
a=sum(List)
print(a)

93

In [3]:
#Write a Python program to create a list of empty dictionaries
n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [5]:
#Write a Python program to access dictionary keys element by index.
num = {'physics': 80, 'math': 90, 'chemistry': 86}
print(list(num)[0])

physics

In [6]:
#Write a Python program to iterate over dictionaries using for loops
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

In [7]:
#Write a Python program to sum all the items in a dictionary.
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [13]:
"""Write a Python script to concatenate following dictionaries to create a new one Sample Dictionary 
a. dic1={1:10, 2:20}
b. dic2={3:30, 4:40}
c. dic3={5:50,6:60}"""
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
#Write a Python program to create a tuple
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [15]:
#Write a Python program to create a tuple with different data types
Tuple=(1,"ammu",8.56)
print(Tuple)

(1, 'ammu', 8.56)

In [16]:
#Write a Python program to convert a tuple to a string
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

In [17]:
#.Write a Python program to slice a tuple
Tuple=(1,2,3,4,5,6,7,8)
print(Tuple[4:])
print(Tuple[0:4])
print(Tuple[-6:-1])

(5, 6, 7, 8)
(1, 2, 3, 4)
(3, 4, 5, 6, 7)

In [19]:
#.Write a Python program to find the length of a tuple.
tuplex = tuple("gitam")
print(tuplex)
print(len(tuplex))

('g', 'i', 't', 'a', 'm')
5

In [20]:
#Write a Python program to convert a tuple to a dictionary
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

In [21]:
#Write a Python program to reverse a tuple
x = ("gitam")
y = reversed(x)
print(tuple(y))
x = (5, 10, 15, 20)
y = reversed(x)
print(tuple(y))

('m', 'a', 't', 'i', 'g')
(20, 15, 10, 5)

In [22]:
#Write a Python program to convert a list of tuples into a dictionary
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [23]:
#Write a Python program to convert a list to a tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)